@font-face {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    src: url(../fontes/Segoe\ UI.ttf);
}

* {
    padding: 0px;
    margin: 0px;
   
}



body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/✰Tanjiro\ Kamado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.315));
    height: 78px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    margin-left: 15px;
    margin-top: 13px;
    
}

.navigation {
    align-items: center;
    display: flex;
}

.navigation ul {
    color: white;
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.navigation ul li:hover{
    color: #E66B01;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    margin-right: 20px;
    height: 30px;
    width: 220px;
    background-color: #23252B;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.search > input::placeholder {
    padding: 35px;
    color: rgba(247, 247, 247, 0.397);
    font-size: 15px;
}

.search i {
    color: white;
    position: relative;
    font-size: 13px;
    top: 0;
    left: -233px;
}

.descrition {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.315));
    backdrop-filter: blur(18px);
    width: 415px;
    margin-left: 50px;
    min-height: 466px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.descrition h1 {
    text-align: center;
    color: #FFD8D5;
    margin-bottom: 15px;
}



p {
    text-indent: 30px; 
    text-align: center;
    color: white;
    margin-bottom: 20px;
    
  }

 .descrition span {
    text-align: center;
    color: #E97A01;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer
  }

  .descrition span:hover {
    color: #ff9e28;
  }

  .descrition .wath {
    background-color: #E36201;
    color: white;
    border: none;
    width: 205px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.425);
    margin-bottom: 20px;
}

.descrition .wath:hover {
    background-color: #EA8001;
    font-weight: bolder;
}

  .descrition .add {
    background-color: rgba(0, 0, 0, 0.103);
    color: white;
    border: none;
    border: 1px  solid rgb(129, 128, 128);
    width: 137px;
    height: 30px;
    cursor: pointer;
  }

  .descrition .add:hover{
    border: 1px  solid rgb(255, 255, 255);
    font-weight: bolder;
  }